@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

html {
	/* background-color: black; */
	font-family: "Rubik", sans-serif;
}

#app {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
	align-items: center;
}

#menu,
#game {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	font-size: 18px;
	margin: 8px;
}

#word-list {
	columns: 8;
	-webkit-columns: 8;
	-moz-columns: 8;
	margin: 0;
	padding: 0;
}

#word-list li {
	font-size: 20px;
	list-style-position: inside;
	list-style-type: none;
}

button {
	width: 140px;
}

button,
input {
	padding: 8px;
	font-size: 22px;
	margin: 35px 8px 8px;
}

h1 {
	font-size: 90px;
}
